[submodule "lib/VBD3D11"]
	path = lib/VBD3D11
	url = https://github.com/wqweto/VBD3D11
[submodule "lib/VbAsyncSocket"]
	path = lib/VbAsyncSocket
	url = https://github.com/wqweto/VbAsyncSocket
[submodule "lib/ZipArchive"]
	path = lib/ZipArchive
	url = git@github.com:wqweto/ZipArchive.git
